In [1]:
import os
import pickle
import pandas as pd
import numpy as np

### Cook County

In [2]:
#import CASTNet Results
data_dir = os.environ.get('DATA_DIR', '/Users/jyontika/Desktop/opioid-overdose-models/CASTNet/hughes-CASTNet/')

results_path_1 = os.path.join(data_dir, 'Results/Chicago_lead_time1.pkl')
results_path_2 = os.path.join(data_dir, 'Results/Chicago_lead_time2.pkl')

with open(results_path_1, 'rb') as file:
    results_lead_1 = pickle.load(file, encoding='bytes')

with open(results_path_2, 'rb') as file:
    results_lead_2 = pickle.load(file, encoding='bytes')

In [3]:
all_predictions_1 = results_lead_1['preds']
prediction_matrix_1 = np.array(all_predictions_1)
prediction_matrix_1 = np.maximum(prediction_matrix_1, 0) #turn all negative values to 0
prediction_lead_1 = prediction_matrix_1[-1, :]

In [4]:
len(prediction_lead_1)

1328

In [5]:
all_predictions_2 = results_lead_2['preds']
prediction_matrix_2 = np.array(all_predictions_2)
prediction_matrix_2 = np.maximum(prediction_matrix_2, 0) #turn all negative values to 0
prediction_lead_2 = prediction_matrix_2[-1, :]

In [12]:
locations_path = os.path.join(data_dir, 'Data/Chicago/locations.txt')
locations = []
with open(locations_path, 'rb') as file:
    for line in file:
        line = line.rstrip().decode("utf-8").split("\t")
        locations.append(line[1])

In [13]:
# Create a DataFrame for prediction_lead_1
df_prediction_lead_1 = pd.DataFrame({
    'geoid': locations,
    'prediction': prediction_lead_1,  
    'year': '2021'
})

# Create a DataFrame for prediction_lead_2
df_prediction_lead_2 = pd.DataFrame({
    'geoid': locations,
    'prediction': prediction_lead_2,  
    'year': '2022'
})

# combine
combined_df = pd.concat([df_prediction_lead_1, df_prediction_lead_2])

In [14]:
combined_df

            geoid  prediction  year
0     17031010100    3.043193  2021
1     17031010201    2.444749  2021
2     17031010202    3.365390  2021
3     17031010300    0.759657  2021
4     17031010400    0.736677  2021
...           ...         ...   ...
1323  17031843700    0.000000  2022
1324  17031843800    1.690513  2022
1325  17031843900    0.704737  2022
1326  17031844600    0.590481  2022
1327  17031844700    5.906558  2022

[2656 rows x 3 columns]

In [15]:
csv_filename = "Results/cook-county-predictions.csv"
csv_filepath = os.path.join(data_dir, csv_filename)

combined_df.to_csv(csv_filepath, index=False)

### MA

In [16]:
#import CASTNet Results
results_path_1 = os.path.join(data_dir, 'Results/MA_lead_time1.pkl')
results_path_2 = os.path.join(data_dir, 'Results/MA_lead_time2.pkl')

with open(results_path_1, 'rb') as file:
    MA_results_lead_1 = pickle.load(file, encoding='bytes')

with open(results_path_2, 'rb') as file:
    MA_results_lead_2 = pickle.load(file, encoding='bytes')

In [17]:
MA_all_predictions_1 = MA_results_lead_1['preds']
MA_prediction_matrix_1 = np.array(MA_all_predictions_1)
MA_prediction_matrix_1 = np.maximum(MA_prediction_matrix_1, 0) #turn all negative values to 0
MA_prediction_lead_1 = MA_prediction_matrix_1[-1, :1620]

In [18]:
MA_prediction_lead_1.shape

(1620,)

In [19]:
MA_all_predictions_2 = MA_results_lead_2['preds']
MA_prediction_matrix_2 = np.array(MA_all_predictions_2)
MA_prediction_matrix_2 = np.maximum(MA_prediction_matrix_2, 0) #turn all negative values to 0
MA_prediction_lead_2 = MA_prediction_matrix_2[-1, :1620]

In [20]:
len(MA_prediction_lead_2)

1620

In [21]:
locations_path = os.path.join(data_dir, 'Data/MA/locations.txt')
MA_locations = []
with open(locations_path, 'rb') as file:
    for line in file:
        line = line.rstrip().decode("utf-8").split("\t")
        MA_locations.append(line[1])

In [22]:
len(MA_locations)

1620

In [23]:
# Create a DataFrame for prediction_lead_1
df_ma_prediction_lead_1 = pd.DataFrame({
    'geoid': MA_locations,
    'prediction': MA_prediction_lead_1,  
    'year': '2019'
})

# Create a DataFrame for prediction_lead_2
df_ma_prediction_lead_2 = pd.DataFrame({
    'geoid': MA_locations,
    'prediction': MA_prediction_lead_2,  
    'year': '2020'
})

# combine
MA_combined_df = pd.concat([df_ma_prediction_lead_1, df_ma_prediction_lead_2])

In [24]:
csv_filename = "Results/MA-predictions.csv"
csv_filepath = os.path.join(data_dir, csv_filename)

MA_combined_df.to_csv(csv_filepath, index=False)

In [25]:
MA_combined_df

            geoid  prediction  year
0     25001010100    0.000000  2019
1     25001010206    0.169154  2019
2     25001010208    0.149021  2019
3     25001010304    0.000000  2019
4     25001010306    0.163751  2019
...           ...         ...   ...
1615  25027761100    0.991141  2020
1616  25027761200    2.771724  2020
1617  25027761300    0.000000  2020
1618  25027761401    0.913689  2020
1619  25027761402    1.635234  2020

[3240 rows x 3 columns]