In [3]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd

In [4]:
data_dir = '/Users/jyontika/Desktop/Python/github_hughes/opioid-overdose-models/cook-county/cook-county-svi-data/'
svi_2016_dir = os.path.join(data_dir,'cook-county-svi-2016.csv')
svi_2018_dir = os.path.join(data_dir,'cook-county-svi-2018.csv')
svi_2020_dir = os.path.join(data_dir,'cook-county-svi-2020.csv')

svi_2016 = pd.read_csv(svi_2016_dir)
svi_2018 = pd.read_csv(svi_2018_dir)
svi_2020 = pd.read_csv(svi_2020_dir)

%store -r gdf_annual
%store -r gdf_semi
%store -r gdf_quarter

### Add in SVI to gdf_annual data frame

In [5]:
#gdf_annual 
#initalize new columns with NAs

gdf_annual = gdf_annual.assign(
    RPL_THEME1 = float('nan'),
    RPL_THEME2 = float('nan'),
    RPL_THEME3 = float('nan'),
    RPL_THEME4 = float('nan'),
    RPL_THEMES = float('nan'))

##should i match svi years with kyle, or change because i have different years?
##2015, 2016 = svi_2016
##2017, 2018 = svi_2018
##2019, 2020, 2021, 2022 = svi_2020

In [7]:
#add in svi_2016 to gdf_annual
svi_2016['FIPS'] = svi_2016['FIPS'].astype(str)
gdf_annual['GEOID'] = gdf_annual['GEOID'].str.strip()
years_to_update = list(range(2015, 2017))

# Iterate over each row in gdf_annual where 2015 <= year <= 2016
for index, row in gdf_annual[gdf_annual['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2016[svi_2016['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_annual.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_annual.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_annual.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_annual.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_annual.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [8]:
#add in svi_2018 to gdf_annual
svi_2018['FIPS'] = svi_2018['FIPS'].astype(str)
gdf_annual['GEOID'] = gdf_annual['GEOID'].str.strip()
years_to_update = list(range(2017, 2019))

# Iterate over each row in gdf_annual where 2017 <= year <= 2018
for index, row in gdf_annual[gdf_annual['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2018[svi_2018['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_annual.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_annual.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_annual.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_annual.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_annual.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [9]:
#add in svi_2020 to gdf_annual
svi_2020['FIPS'] = svi_2020['FIPS'].astype(str)
gdf_annual['GEOID'] = gdf_annual['GEOID'].str.strip()
years_to_update = list(range(2019, 2023))

# Iterate over each row in gdf_annual where 2019 <= year <= 2022
for index, row in gdf_annual[gdf_annual['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2020[svi_2020['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_annual.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_annual.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_annual.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_annual.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_annual.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [10]:
#dropping census tracts with zero population (lake)
geoid_to_drop = ['17031990000', '17031381700', '17031980000', '17031980100']
gdf_annual = gdf_annual[~gdf_annual['GEOID'].isin(geoid_to_drop)]

In [11]:
# check for NA vals in each row and sum the number of NA values
na_counts = gdf_annual.isna().sum(axis=1)

# filter rows with NA values
rows_with_na = gdf_annual[na_counts > 0]

geoid_values_with_na = rows_with_na['GEOID'].unique()

# Print the count and the unique list of GEOIDs with NA values
print(f"Number of unique GEOIDs with NA values: {len(geoid_values_with_na)}")
print("Unique GEOIDs with NA values:")
print(geoid_values_with_na)

Number of unique GEOIDs with NA values: 44
Unique GEOIDs with NA values:
['17031320101' '17031320102' '17031330101' '17031330102' '17031330103'
 '17031380600' '17031460800' '17031490200' '17031612200' '17031630600'
 '17031803613' '17031803614' '17031803615' '17031803616' '17031804203'
 '17031804204' '17031804312' '17031804313' '17031804314' '17031804315'
 '17031804316' '17031804512' '17031804513' '17031804514' '17031806005'
 '17031806006' '17031809401' '17031809402' '17031820203' '17031820204'
 '17031824124' '17031824125' '17031824126' '17031824127' '17031824128'
 '17031824129' '17031824508' '17031824509' '17031828507' '17031828508'
 '17031829903' '17031829904' '17031844600' '17031844700']

In [12]:
#populate NAs for GEOIDs that are only missing *some* rows

columns_to_fill = ['RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES']

for geoid_value in geoid_values_with_na:
    rows_for_geoid = gdf_annual[gdf_annual['GEOID'] == geoid_value]
    rows_with_values = rows_for_geoid.dropna(subset=columns_to_fill, how='any')
    
    if not rows_with_values.empty:
        values_to_fill = rows_with_values.iloc[0][columns_to_fill].to_dict()
    
        gdf_annual.loc[gdf_annual['GEOID'] == geoid_value, columns_to_fill] = gdf_annual.loc[
            gdf_annual['GEOID'] == geoid_value, columns_to_fill
        ].fillna(values_to_fill)

In [13]:
#rename columns to match kyle

gdf_annual.rename(columns={
    'RPL_THEME1': 'theme_1_pc',
    'RPL_THEME2': 'theme_2_pc',
    'RPL_THEME3': 'theme_3_pc',
    'RPL_THEME4': 'theme_4_pc',
    'RPL_THEMES': 'svi_pctile'
}, inplace=True)

In [14]:
#three GEOIDs have NAs 
# ['17031381700' '17031980000' '17031980100']

gdf_annual = gdf_annual.replace(-999.0000, np.nan)

geoids_with_nas = gdf_annual[gdf_annual.isna().any(axis=1)]['GEOID'].unique()
print("GEOIDs with NAs:")
print(geoids_with_nas)

GEOIDs with NAs:
[]

### Add in SVI to gdf_quarter data frame

In [15]:
#gdf_quarter
#initalize new columns with NAs

gdf_quarter = gdf_quarter.assign(
    RPL_THEME1 = float('nan'),
    RPL_THEME2 = float('nan'),
    RPL_THEME3 = float('nan'),
    RPL_THEME4 = float('nan'),
    RPL_THEMES = float('nan'))

In [17]:
#add in svi_2016 to gdf_quarter
svi_2016['FIPS'] = svi_2016['FIPS'].astype(str)
gdf_quarter['GEOID'] = gdf_quarter['GEOID'].str.strip()
years_to_update = list(range(2015, 2017))

# Iterate over each row in gdf_annual where 2015 <= year <= 2016
for index, row in gdf_quarter[gdf_quarter['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2016[svi_2016['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_quarter.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_quarter.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [18]:
#add in svi_2018 to gdf_quarter
svi_2018['FIPS'] = svi_2018['FIPS'].astype(str)
gdf_quarter['GEOID'] = gdf_quarter['GEOID'].str.strip()
years_to_update = list(range(2017, 2019))

# Iterate over each row in gdf_annual where 2017 <= year <= 2018
for index, row in gdf_quarter[gdf_quarter['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2018[svi_2018['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_quarter.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_quarter.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [19]:
#add in svi_2020 to gdf_quarter
svi_2020['FIPS'] = svi_2020['FIPS'].astype(str)
gdf_quarter['GEOID'] = gdf_quarter['GEOID'].str.strip()
years_to_update = list(range(2019, 2023))

# Iterate over each row in gdf_annual where 2019 <= year <= 2022
for index, row in gdf_quarter[gdf_quarter['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2020[svi_2020['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_quarter.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_quarter.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_quarter.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [20]:
#dropping census tracts with zero population (lake)
gdf_quarter = gdf_quarter[~gdf_quarter['GEOID'].isin(geoid_to_drop)]

In [21]:
#populate NAs for GEOIDs that are only missing *some* rows
na_counts = gdf_quarter.isna().sum(axis=1)
rows_with_na = gdf_quarter[na_counts > 0]
geoid_values_with_na = rows_with_na['GEOID'].unique()

columns_to_fill = ['RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES']

for geoid_value in geoid_values_with_na:
    rows_for_geoid = gdf_quarter[gdf_quarter['GEOID'] == geoid_value]
    rows_with_values = rows_for_geoid.dropna(subset=columns_to_fill, how='any')
    
    if not rows_with_values.empty:
        values_to_fill = rows_with_values.iloc[0][columns_to_fill].to_dict()
    
        gdf_quarter.loc[gdf_quarter['GEOID'] == geoid_value, columns_to_fill] = gdf_quarter.loc[
            gdf_quarter['GEOID'] == geoid_value, columns_to_fill
        ].fillna(values_to_fill)

In [22]:
#rename columns to match kyle

gdf_quarter.rename(columns={
    'RPL_THEME1': 'theme_1_pc',
    'RPL_THEME2': 'theme_2_pc',
    'RPL_THEME3': 'theme_3_pc',
    'RPL_THEME4': 'theme_4_pc',
    'RPL_THEMES': 'svi_pctile'
}, inplace=True)

In [23]:
#three GEOIDs have NAs 
# ['17031381700' '17031980000' '17031980100']

gdf_quarter = gdf_quarter.replace(-999.0000, np.nan)
geoids_with_nas = gdf_quarter[gdf_quarter.isna().any(axis=1)]['GEOID'].unique()
print("GEOIDs with NAs:")
print(geoids_with_nas)

GEOIDs with NAs:
[]

### Add in SVI to gdf_semi data frame

In [24]:
#gdf_semi
#initalize new columns with NAs

gdf_semi = gdf_semi.assign(
    RPL_THEME1 = float('nan'),
    RPL_THEME2 = float('nan'),
    RPL_THEME3 = float('nan'),
    RPL_THEME4 = float('nan'),
    RPL_THEMES = float('nan'))

In [26]:
#add in svi_2016 to gdf_semi
svi_2016['FIPS'] = svi_2016['FIPS'].astype(str)
gdf_semi['GEOID'] = gdf_semi['GEOID'].str.strip()
years_to_update = list(range(2015, 2017))

# Iterate over each row in gdf_annual where 2015 <= year <= 2016
for index, row in gdf_semi[gdf_semi['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2016[svi_2016['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_semi.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_semi.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_semi.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_semi.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_semi.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [27]:
#add in svi_2018 to gdf_semi
svi_2018['FIPS'] = svi_2018['FIPS'].astype(str)
gdf_semi['GEOID'] = gdf_semi['GEOID'].str.strip()
years_to_update = list(range(2017, 2019))

# Iterate over each row in gdf_annual where 2017 <= year <= 2018
for index, row in gdf_semi[gdf_semi['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2018[svi_2018['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_semi.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_semi.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_semi.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_semi.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_semi.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [28]:
#add in svi_2020 to gdf_semi
svi_2020['FIPS'] = svi_2020['FIPS'].astype(str)
gdf_semi['GEOID'] = gdf_semi['GEOID'].str.strip()
years_to_update = list(range(2019, 2023))

# Iterate over each row in gdf_annual where 2019 <= year <= 2022
for index, row in gdf_semi[gdf_semi['year'].isin(years_to_update)].iterrows():
    geoid_value = row['GEOID']
    matching_row = svi_2020[svi_2020['FIPS'] == geoid_value]
    
    # If a matching row is found, update the corresponding columns in gdf_annual
    if not matching_row.empty:
        gdf_semi.loc[index, 'RPL_THEME1'] = matching_row['RPL_THEME1'].values[0]
        gdf_semi.loc[index, 'RPL_THEME2'] = matching_row['RPL_THEME2'].values[0]
        gdf_semi.loc[index, 'RPL_THEME3'] = matching_row['RPL_THEME3'].values[0]
        gdf_semi.loc[index, 'RPL_THEME4'] = matching_row['RPL_THEME4'].values[0]
        gdf_semi.loc[index, 'RPL_THEMES'] = matching_row['RPL_THEMES'].values[0]

In [29]:
#dropping census tracts with zero population (lake)
gdf_semi = gdf_semi[~gdf_semi['GEOID'].isin(geoid_to_drop)]

In [30]:
#populate NAs for GEOIDs that are only missing *some* rows
na_counts = gdf_semi.isna().sum(axis=1)
rows_with_na = gdf_semi[na_counts > 0]
geoid_values_with_na = rows_with_na['GEOID'].unique()

columns_to_fill = ['RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES']

for geoid_value in geoid_values_with_na:
    rows_for_geoid = gdf_semi[gdf_semi['GEOID'] == geoid_value]
    rows_with_values = rows_for_geoid.dropna(subset=columns_to_fill, how='any')
    
    if not rows_with_values.empty:
        values_to_fill = rows_with_values.iloc[0][columns_to_fill].to_dict()
    
        gdf_semi.loc[gdf_semi['GEOID'] == geoid_value, columns_to_fill] = gdf_semi.loc[
            gdf_semi['GEOID'] == geoid_value, columns_to_fill
        ].fillna(values_to_fill)

In [31]:
#rename columns to match kyle

gdf_semi.rename(columns={
    'RPL_THEME1': 'theme_1_pc',
    'RPL_THEME2': 'theme_2_pc',
    'RPL_THEME3': 'theme_3_pc',
    'RPL_THEME4': 'theme_4_pc',
    'RPL_THEMES': 'svi_pctile'
}, inplace=True)

In [32]:
#three GEOIDs have NAs 
# ['17031381700' '17031980000' '17031980100']

gdf_semi = gdf_semi.replace(-999.0000, np.nan)
geoids_with_nas = gdf_semi[gdf_semi.isna().any(axis=1)]['GEOID'].unique()
print("GEOIDs with NAs:")
print(geoids_with_nas)

GEOIDs with NAs:
[]

### Checking NAs, etc

In [33]:
# Count the number of NAs in each DataFrame
na_counts_annual = gdf_annual.isna().sum()
na_counts_semi = gdf_semi.isna().sum()
na_counts_quarter = gdf_quarter.isna().sum()

# Concatenate the na_counts Series horizontally
na_counts_combined = pd.concat([na_counts_annual, na_counts_semi, na_counts_quarter], axis=1)
na_counts_combined.columns = ['gdf_annual', 'gdf_semi', 'gdf_quarter']

# Total number of NAs in each DataFrame
total_na_count_annual = gdf_annual.isna().sum().sum()
total_na_count_semi = gdf_semi.isna().sum().sum()
total_na_count_quarter = gdf_quarter.isna().sum().sum()

# Print the results
print("Number of NAs in each column:")
print(na_counts_combined)

print("\nTotal number of NAs:")
print("gdf_annual:", total_na_count_annual)
print("gdf_semi:", total_na_count_semi)
print("gdf_quarter:", total_na_count_quarter)

Number of NAs in each column:
            gdf_annual  gdf_semi  gdf_quarter
GEOID              0.0       0.0          0.0
year               0.0       0.0          0.0
deaths             0.0       0.0          0.0
STATEFP            0.0       0.0          0.0
COUNTYFP           0.0       0.0          0.0
TRACTCE            0.0       0.0          0.0
NAME               0.0       0.0          0.0
NAMELSAD           0.0       0.0          0.0
MTFCC              0.0       0.0          0.0
FUNCSTAT           0.0       0.0          0.0
ALAND              0.0       0.0          0.0
AWATER             0.0       0.0          0.0
lat                0.0       0.0          0.0
lon                0.0       0.0          0.0
geometry           0.0       0.0          0.0
timestep           0.0       0.0          0.0
theme_1_pc         0.0       0.0          0.0
theme_2_pc         0.0       0.0          0.0
theme_3_pc         0.0       0.0          0.0
theme_4_pc         0.0       0.0          0.0
svi_pctile         0.0       0.0          0.0
semiannual         NaN       0.0          NaN
season             NaN       0.0          NaN
quarter            NaN       NaN          0.0

Total number of NAs:
gdf_annual: 0
gdf_semi: 0
gdf_quarter: 0

### store

In [34]:
gdf_annual = gdf_annual.rename(columns={'GEOID': 'geoid'})
gdf_quarter = gdf_quarter.rename(columns={'GEOID': 'geoid'})
gdf_semi = gdf_semi.rename(columns={'GEOID': 'geoid'})

In [35]:
gdf_annual_with_svi = gdf_annual 
gdf_quarter_with_svi = gdf_quarter
gdf_semi_with_svi = gdf_semi

In [36]:
%store gdf_annual_with_svi
%store gdf_quarter_with_svi
%store gdf_semi_with_svi

Stored 'gdf_annual_with_svi' (GeoDataFrame)
Stored 'gdf_quarter_with_svi' (DataFrame)
Stored 'gdf_semi_with_svi' (DataFrame)

In [37]:
gdf_semi_with_svi

,geoid,semiannual,year,deaths,STATEFP,COUNTYFP,TRACTCE,NAME,NAMELSAD,MTFCC,...,lat,lon,geometry,timestep,season,theme_1_pc,theme_2_pc,theme_3_pc,theme_4_pc,svi_pctile
7178,17031010100,1,2014,0,17,031,010100,101,Census Tract 101,G5020,...,+42.0212553,-087.6698301,POINT (-87.67142 42.02143),1,jan-jun,0.6378,0.2641,0.6045,0.9189,0.7026
7179,17031010100,2,2014,0,17,031,010100,101,Census Tract 101,G5020,...,+42.0212553,-087.6698301,POINT (-87.67142 42.02143),2,jul-dec,0.6378,0.2641,0.6045,0.9189,0.7026
7180,17031010100,1,2015,0,17,031,010100,101,Census Tract 101,G5020,...,+42.0212553,-087.6698301,POINT (-87.67142 42.02143),3,jan-jun,0.7266,0.3552,0.6652,0.8699,0.7562
6,17031010100,2,2015,1,17,031,010100,101,Census Tract 101,G5020,...,+42.0212553,-087.6698301,POINT (-87.67202 42.01989),4,jul-dec,0.7266,0.3552,0.6652,0.8699,0.7562
0,17031010100,1,2016,2,17,031,010100,101,Census Tract 101,G5020,...,+42.0212553,-087.6698301,POINT (-87.67142 42.02143),5,jan-jun,0.7266,0.3552,0.6652,0.8699,0.7562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7164,17031844700,2,2020,1,17,031,844700,8447,Census Tract 8447,G5020,...,+41.8541473,-087.7117002,POINT (-87.71049 41.85537),14,jul-dec,0.9499,0.6778,0.9103,0.9653,0.9760
7159,17031844700,1,2021,3,17,031,844700,8447,Census Tract 8447,G5020,...,+41.8541473,-087.7117002,POINT (-87.71146 41.85312),15,jan-jun,0.9499,0.6778,0.9103,0.9653,0.9760
7165,17031844700,2,2021,1,17,031,844700,8447,Census Tract 8447,G5020,...,+41.8541473,-087.7117002,POINT (-87.71091 41.85429),16,jul-dec,0.9499,0.6778,0.9103,0.9653,0.9760
7160,17031844700,1,2022,1,17,031,844700,8447,Census Tract 8447,G5020,...,+41.8541473,-087.7117002,POINT (-87.71098 41.85484),17,jan-jun,0.9499,0.6778,0.9103,0.9653,0.9760
26569,17031844700,2,2022,0,17,031,844700,8447,Census Tract 8447,G5020,...,+41.8541473,-087.7117002,POINT (-87.71597 41.85312),18,jul-dec,0.9499,0.6778,0.9103,0.9653,0.9760